@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=IBM+Plex+Mono:wght@100&family=Koulen&family=Quicksand:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;
  background-color: #0f172a;
  overflow-x: hidden;
}

/* Navbar */
nav {
  width: 100%;
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 4;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}
.brand {
  cursor: pointer;
  transition: 0.4s;
  color: rgb(15 118 110);
}
.brand:hover {
  color: rgb(0, 204, 255);
}
nav ul {
  list-style: none;
  display: flex;
  width: 40%;
  justify-content: space-between;
  text-transform: uppercase;
}

nav ul li a {
  font-weight: bold;
  z-index: 1;
  text-decoration: none;
  color: rgb(0, 204, 255);
  transition: 0.2s;
  padding: 20px 10px 20px 10px;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}
.burger input {
  position: absolute;
  opacity: 0;
  height: 28px;
  left: -6px;
  top: -3px;
  width: 40px;
  cursor: pointer;
  z-index: 999;
}
.burger span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(0, 204, 255);
  border-radius: 3px;
  transition: 0.4s;
  z-index: 20;
}

.burger span:nth-child(2) {
  transform-origin: 0 0;
}
.burger span:nth-child(4) {
  transform-origin: 0 100%;
}
.burger input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.burger input:checked ~ span:nth-child(3) {
  opacity: 0;
}
.burger input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

nav ul.gerak {
  transform: translateX(0);
}

/* Banner */
#banner {
  margin-top: 30px;
  padding: 80px;
  top: 0;
}
h1 {
  color: white;
}
.halo {
  color: rgb(15 118 110);
}
.nama {
  color: aqua;
}
.gray {
  color: gray;
}
.tombol {
  background-color: rgb(0, 204, 255);
  padding: 16px;
  text-decoration: none;
  color: white;
  box-shadow: 0px 14px 56px -11px rgb(56 189 248);
  border-radius: 10px;
}
.img-banner {
  max-width: 100%;
  height: auto;
}

/* About */
#about {
  padding: 70px 0 0 0;
  background-color: rgb(30 41 59);
}
.about {
  text-align: center !important;
  text-transform: uppercase;
}
.line {
  background-color: aqua;
  height: 5px;
  width: 4em;
  border-radius: 5px;
  margin-top: 10px !important;
}

.poto {
  height: 400px;
  width: 400px;
  margin-top: 30px;
  background-color: rgb(0, 204, 255);
  border-radius: 50%;
  margin-bottom: 40px;
}
.poto img {
  width: 300px;
  margin-right: 25px;
  margin-top: -60px;
}

.text-about {
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  text-align: center;
  color: white;
  line-height: 23px;
}
.text-about:hover {
  box-shadow: 0px 14px 56px -11px rgb(56 189 248);
  cursor: pointer;
}
.icon ul li {
  display: inline;
}
.icon ul li svg {
  transition: 0.3s;
  margin: 10px;
  width: 40px !important;
  border: 1px solid #0f172a;
  padding: 15px;
  border-radius: 50%;
}
.icon ul li svg:hover {
  border: 1px solid aqua;
  box-shadow: 0px 14px 56px -11px rgb(56 189 248);
}

#project {
  padding: 80px 0;
  display: inline;
}
.project {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
.flex-container {
  margin-top: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
}
.card {
  box-shadow: 0px 14px 56px -11px rgb(56 189 248);
  transition: 0.3s;
  width: 60%;
  border-radius: 10px;
  padding-bottom: 40px;
}
.card:hover {
  transform: translateY(-10px);
}
.card h4,
.card p {
  margin: 10px;
  text-align: center;
  color: white;
}
.card h4 {
  text-align: center;
  border-bottom: 2px solid aqua;
}

#contact {
  padding: 80px 0;
  background-color: rgb(30 41 59);
}
.contact {
  text-align: center !important;
}

.icon-contact {
  justify-content: center;
}

.icon-contact ul li {
  display: inline;
  list-style: none;
}
.icon-contact ul li svg {
  margin-top: 30px !important;
  margin: 10px;
  width: 40px !important;
  border: 1px solid #0f172a;
  padding: 30px;
  border-radius: 50%;
  transition: 0.4s;
}
.icon-contact ul li svg:hover {
  border: 1px solid aqua;
  box-shadow: 0px 14px 56px -11px rgb(56 189 248);
}

footer {
  padding: 30px;
  text-align: center;
  color: rgb(15 118 110);
}
footer .love {
  color: red;
}
footer .name {
  color: aqua;
}

/* Responsive */

/* Tampilan Laptop */
@media (min-width: 992px) {
  nav {
    z-index: 999;
  }
  .img-banner {
    float: right;
    margin-top: -250px;
  }
  nav ul li {
    transition: 0.3s !important;
  }
  nav ul li:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid rgb(15 118 110);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .text-about {
    margin-left: 50%;
    margin-right: 10%;
    transform: translateY(-300px);
  }
  .poto {
    height: 400px;
    width: 400px;
    margin-top: 30px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    transform: translateX(230px);
  }
  .poto img {
    width: 300px;
    margin-right: 25px;
    margin-top: -60px;
  }
  .card {
    margin: 40px;
  }
  .card:hover {
    transform: translateY(-20px);
  }
}

/* Tampilan mobile */
@media screen and (max-width: 576px) {
  nav {
    width: 100%;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0f172a;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 20;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.7s;
  }
  nav ul li a:hover {
    background-color: aqua;
    color: #0f172a;
  }
  .burger {
    display: flex;
  }
  .img-banner {
    margin-top: 2em !important;
    max-width: 100%;
    height: auto;
  }
  .text-about {
    margin: 40px;
  }
  .poto {
    height: 300px;
    width: 300px;
    margin-left: 40px !important;
    margin-top: 30px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
  }
  .poto img {
    width: 250px;
    margin-right: -25px;
    margin-top: -60px;
  }
  .flex-container {
    flex-direction: column !important;
  }
}

/* Tampilan Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
  .img-banner {
    width: 400px;
    margin-right: -20px;
    margin-top: auto !important;
  }
  .text-about {
    margin: 50px;
  }
  .poto {
    height: 300px;
    width: 300px;
    margin-top: 30px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
  }
  .poto img {
    width: 250px;
    margin-right: -25px;
    margin-top: -60px;
  }
  .flex-container {
    flex-direction: column !important;
  }
}
